/*
    Flaticon icon font: Flaticon
    Creation date: 23/12/2020 14:45
    */

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
    url("./Flaticon.woff2") format("woff2"),
    url("./Flaticon.woff") format("woff"),
    url("./Flaticon.ttf") format("truetype"),
    url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-flask:before {
  content: "\f100";
}
.flaticon-analysis:before {
  content: "\f101";
}
.flaticon-ux-design:before {
  content: "\f102";
}
.flaticon-idea:before {
  content: "\f103";
}
.flaticon-innovation:before {
  content: "\f104";
}
.flaticon-linkedin-logo:before {
  content: "\f105";
}
.flaticon-instagram:before {
  content: "\f106";
}
.flaticon-mail:before {
  content: "\f107";
}
.flaticon-pdf-file:before {
  content: "\f108";
}
.flaticon-lamp:before {
  content: "\f109";
}
.flaticon-github-1:before {
  content: "\f10a";
}
.flaticon-down-arrow:before {
  content: "\f10b";
}
.flaticon-down-arrow-2:before {
  content: "\f10c";
}
.flaticon-menu:before {
  content: "\f10d";
}
.flaticon-menu-1:before {
  content: "\f10e";
}
.flaticon-menu-button-of-three-horizontal-lines:before {
  content: "\f10f";
}

$font-Flaticon-flask: "\f100";
$font-Flaticon-analysis: "\f101";
$font-Flaticon-ux-design: "\f102";
$font-Flaticon-idea: "\f103";
$font-Flaticon-innovation: "\f104";
$font-Flaticon-linkedin-logo: "\f105";
$font-Flaticon-instagram: "\f106";
$font-Flaticon-mail: "\f107";
$font-Flaticon-pdf-file: "\f108";
$font-Flaticon-lamp: "\f109";
$font-Flaticon-github-1: "\f10a";
$font-Flaticon-down-arrow: "\f10b";
$font-Flaticon-down-arrow-2: "\f10c";
$font-Flaticon-menu: "\f10d";
$font-Flaticon-menu-1: "\f10e";
$font-Flaticon-menu-button-of-three-horizontal-lines: "\f10f";
